.Cards {
  display: flex;
  gap: 10px;
}
.parentContainer{
  width: 100%;
}

.btnTambah button {
  background-color: var(--glass);
  color: var(--black);
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.btnTambah button:hover {
  background-color: var(--orange);
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}
